.closeBox {
  margin-left: 280px;
}

.taskCard {
  font-size: 33px;
  border: 1px solid black;
  width: 100%;
}

dialog[open] {
  width: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 40%;
}

/* nesting! google  can I use */
/*Global	81.44%	+	5.49%	=	86.93%*/
dialog[open] form {
  display: flex;
  flex-direction: column;
}

.openDialogBtn {
  margin: 5px;
  font-size: 33px;
  background-color: rgb(198, 156, 237);
  border-radius: 5px;
}

.title {
  font-weight: bold;
}

.taskCard {
  display: flex;

  font-size: 20px;
}
.task {
  display: flex;
  align-self: center;
  align-items: end;
  padding: 20px;
  gap: 20px;
  width: 100%;
}
.checkbox {
  margin: 10px;
  display: flex;
  align-self: center;
}

.deleteTaskBtn {
  background-color: white;
  border: none;
  align-self: flex-end;
  justify-self: center;
}

.main {
  width: 100%;
}
