* {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  padding: 15px;
  background-color: rgb(214, 182, 243);
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.main {
  background-color: white;
  width: 1000px;
}
